= form_tag route do
  = hidden_field_tag 'individual[dataset_id]', params[:id]
  = hidden_field_tag 'individual[original_name]', params[:name]

  %table
    %thead
      %th
        Propriedade
      %th
        Valor

    %tbody
      %tr
        %td= label_tag 'individual[name]', 'Nome:'
        %td= text_field_tag 'individual[name]', individual.name
      %tr
        %td= label_tag 'individual[class]', 'Classe:'
        - if true
          %td= text_field_tag 'individual[class]', individual.ontological_class.local_name, readonly: true

        - else
          %td= select_tag 'individual[class]', select_helper( classes, selected: ont_class.local_name )

        - individual.properties.each do | property |
          - name = property.get_predicate.local_name
          %tr
            %td= label_tag "individual[property][#{name}]", name + ?:, id: "label_#{name}"
            %td
              - if property.object.resource?
                - options = select_helper individuals, selected: property.resource.local_name
                = select_tag "individual[property][resource:#{name}]", options, id: "input_#{name}"

              - else
                - if property.object.to_s =~ /int/i
                  - type = 'int'
                  - value = property.int
                - elsif property.object.to_s =~ /double/i
                  - type = 'double'
                  - value = property.double
                - elsif property.object.to_s =~ /literal/i
                  - type = 'str'
                  - value = property.string
                - else
                  - type = nil
                  - value = property.object
                = text_field_tag "individual[property][#{type}:#{name}]", value, id: "input_#{name}"
              = link_to image_tag('destroy.svg'), '#',
                id: "destroy_#{name}",
                title: 'Remover propriedade.',
                data: { property: "destroy:#{name}", original_property: "#{type}:#{name}", mode: false }

      %tr
        %td
          - options = select_properties( properties )
          = select_tag 'property', options, { prompt: 'Selecione uma propriedade' }
        %td= link_to 'Adicionar Propriedade', '#', id: 'add_property',
          data: { dataset_id: params[:id], type: nil, property: nil }
  %p
    = submit_tag 'Aplicar'