= form_for @dataset do | f |
  - if @dataset.errors.any?
    .error_explanation
      %h2= pluralize( @dataset.errors.count, 'error' ) + 'prohibited this dataset from being saved:'
      %ul
        - @dataset.errors.full_messages.each do | message |
          %li= message
  %table
    %thead
      %th= f.label :name, 'Nome da Ontologia'
      %th= f.label :rdf_source, 'Arquivo RDF/OWL'
    %tbody
      %tr
        %td= f.text_field :name
        %td= f.file_field :rdf_source, multiple: true
    %tbody
      %tr
        %td( colspan=2 )
          = f.submit 'Criar Dataset'
