= content_for( :subtitle ) do
  Adicionando Indivíduo

#form
  = form_tag( '/' ) do
    %p
      = label_tag :individual_class, 'Classe do Indivíduo:'
      = select_tag :individual_class, options_for_select(@classes.collect.with_index { |s, i| p [s, i+1] }), { prompt: 'Selecione uma classe' }
    %p
      = label_tag :individual_name, 'Nome do Indivíduo:'
      = text_field_tag :individual_name

  = button_get 'Voltar', dataset_path
