= content_for( :subtitle ) do
  = "Editando #{@individual.local_name}"

= form_tag( :update_feeder ) do
  = hidden_field_tag 'individual[dataset_id]', params[:id]
  = hidden_field_tag 'individual[original_name]', params[:name]

  %table
    %thead
      %th
        Propriedade
      %th
        Valor

    %tbody
      %tr
        %td= label_tag 'individual[name]', 'Nome:'
        %td= text_field_tag 'individual[name]', @individual.local_name
      %tr
        %td= label_tag 'individual[class]', 'Classe:'
        %td= text_field_tag 'individual[class]', @ont_class.local_name, readonly: true
        /
          select_tag 'individual[class]',
          select_helper( @dataset.classes, selected: @individual.ont_class.local_name )

        - @individual.list_properties.each do | property |
          - name = property.get_predicate.local_name
          - next if name == 'type'
          %tr
            %td= label_tag "individual[property][#{name}]", name.gsub( /_/, ' ' ).titleize + ':'
            %td
              - if property.object.resource?
                - options = select_helper @dataset.individuals, selected: property.resource.local_name
                = select_tag "individual[property][resource:#{name}]", options
              - else
                - if property.object.to_s =~ /int/i
                  - type = 'int'
                  - value = property.int
                - elsif property.object.to_s =~ /literal/i
                  - type = 'str'
                  - value = property.string
                - else
                  - type = nil
                  - value = property.object
                = text_field_tag "individual[property][#{type}:#{name}]", value

      %tr
        %td
          - options = select_properties( @dataset.properties )
          = select_tag 'property', options, { prompt: 'Selecione uma propriedade' }
        %td= link_to 'Adicionar Propriedade', '#', data: { dataset_id: params[:id], type: nil, property: nil }
  %p
    = submit_tag 'Aplicar'
    = submit_tag 'Cancelar'
