= content_for( :subtitle ) do
  Listando Datasets

%table
  %thead
    %tr
      %th
        Nome
      /%thRDF de Origem
      %th
        Opções
  %tbody
    - @datasets.each do | dataset |
      %tr
        %td= dataset.name
        %td
          = button_get 'Detalhes', dataset
          = button_get 'Editar', edit_dataset_path( dataset )
          = button_delete 'Excluir', dataset

%p
  = button_get 'Novo Dataset', new_dataset_path
