%p.notice
  = notice

%h2
  Listing Datasets
%table
  %thead
    %tr
      %th
        Name
      %th
        RDF Source
      %th
        Options
  %tbody
    - @datasets.each do | dataset |
      %tr
        %td= dataset.name
        %td= dataset.rdf_source
        %td
          = link_to 'Details', dataset
          = link_to 'Edit', edit_dataset_path( dataset )
          = link_to 'Destroy', dataset, method: :delete, data: { confirm: 'Confirm deletion' }

= link_to 'New Dataset', new_dataset_path
