= content_for( :subtitle ) do
  Criando Indivíduo

= form_tag( '/create_individual' ) do
  = hidden_field_tag 'individual[dataset_id]', params[:id]
  %table
    %thead
      %th
        Propriedade
      %th
        Valor
    %tbody
      %tr
        %td= label_tag 'individual[name]', 'Nome:'
        %td= text_field_tag 'individual[name]'
      %tr
        %td= label_tag 'individual[class]', 'Classe:'
        %td= select_tag 'individual[class]',
          select_helper( @classes, { prompt: 'Selecione uma classe' } )
      %tr
        %td= select_tag 'property',
          select_helper( @properties, { prompt: 'Selecione propriedade' } )
        %td= link_to 'Adicionar Propriedade', '#', data: { label: nil, property: nil }
  %p
    = submit_tag 'Aplicar'
    = submit_tag 'Cancelar'
