= content_for( :subtitle ) do
  Executar Query SPARQL
  
= form_tag( 'query' ) do
  = hidden_field_tag :id, value: params[:id]
  %p
    = text_area_tag :query, nil, size: '50x10'
  %p
    = submit_tag 'Executar'
