= content_for( :subtitle ) do
  = "detalhes de #{@dataset.name}"

%table
  %caption
    Informações Básicas
  %thead
    %th
      Nome do Dataset
    %th
      Arquivo RDF/OWL Original
    %th
      Total de Triplas (TDB / RDF-OWL)
    %th
      Total de Indivíduos (TDB)
    %th
      Opções

  %tbody
    %tr
      %td= @dataset.name
      %td
        %span( title = 'Efetuar download do arquivo RDF/OWL' )
          = link_to @dataset.rdf_source, send_rdf_source_path( @dataset.id )
      %td= "#{@dataset.count} / #{@dataset.count_rdf}"
      %td= @dataset.individuals.to_a.size
      %td
        =# button_get 'Adicionar Indivíduo', new_individual_path( @dataset )
        = button_get 'Editar', edit_dataset_path( @dataset )
        = button_delete 'Excluir', @dataset

%p
  = button_get 'Query', query_path( @dataset )
  /= button_get 'Inferências', reasoner_path( @dataset )

%hr

%table( style = "display: inline-block;" )
  %caption
    Lista de Alimentadores
  %thead
    %th
      Nome
    %th
      Potencia
    %th
      Opções
  %tbody
    - feeders = @dataset.feeders
    - if feeders.empty?
      %tr
        %td( colspan = 3)
          Nenhum alimentador está presente na ontologia!
    - else
      - for feeder in feeders do
        %tr
          %td= feeder.local_name
          %td= @dataset.get_demand( feeder ) ? @dataset.get_demand( feeder ).get_int.to_s + ' W' : 'Não informado.'
          %td= button_get 'Detalhes', show_feeder_path( @dataset, feeder.local_name )
    %tr
      %td( colspan = 3 )
        Potencia Total:
        = @dataset.demand_sum
        W
    %tr
      %td( colspan = 3 )
        = button_get 'Novo Alimentador', new_feeder_path( @dataset )
        = button_get 'Inferências de Classe', reasoner_path( @dataset, @dataset.find_class( 'Alimentadores' ).local_name ) rescue nil

%table( style = "display: inline-block;" )
  %caption
    Lista de Sistemas Prediais
  %thead
    %th
      Nome
    %th
      Opções
  %tbody
    - building_systems = @dataset.building_systems
    - if building_systems.empty?
      %tr
        %td( colspan = 2)
          Nenhum sistema predial está presente na ontologia!
    - else
      - for building_system in building_systems do
        %tr
          %td= building_system.local_name
          %td= button_get 'Detalhes', show_building_system_path( @dataset, building_system.local_name ) rescue "ERROR"
    %tr
      %td( colspan = 2 )
        = button_get 'Novo Sistema Predial', new_building_system_path( @dataset )
        = button_get 'Inferências de Classe', reasoner_path( @dataset, @dataset.find_class( 'Sistema_Predial' ).local_name ) rescue nil

/
  %table
  %caption
    Lista de Indivíduos
  %thead
    %th
      Nome do Indivíduo
    %th
      Classe do Indivíduo
    %th
      Opções

  %tbody
    -# for individual in @dataset.individuals do
      %tr
        %td=# individual.local_name.gsub( /_/, ' ' )
        %td=# ont_class( individual )
        %td
          =# button_get 'Detalhes', show_individual_path( @dataset, individual.local_name )
          =# button_get 'Editar', edit_individual_path( @dataset, individual.local_name )
          =# button_delete 'Excluir', destroy_individual_path( @dataset, individual.local_name )