= content_for( :subtitle ) do
  = "Detalhes de #{@individual.name}"

%table
  %caption
    Informações Básicas
  %thead
    %th
      Nome do Alimentador
    %th
      Classes do Alimentador
    %th
      Informações Derivadas
    %th
      Opções

  %tbody
    %tr
      %td= @individual.name
      %td= @individual.ontological_class.local_name
      %td
        Potência Ativa:
        %strong
          = @individual.summation :active_power
          W
        %br/
        Potência Reativa:
        %strong
          = @individual.summation :reactive_power
          VAR
        %br/
        Demanda:
        %strong
          = @individual.summation :demand
          VA
        %br/
        RDP:
        %strong
          = @individual.summation :rdp
          VA
      %td
        = button_get 'Inferências', reasoner_path( @dataset, @individual.name )
        = button_get 'Editar', edit_feeder_path( @dataset, @individual.name )
        = button_delete 'Excluir', destroy_feeder_path( @dataset, @individual.name )

%p
  %table
    %caption
      Propriedades
    %thead
      %th
        Tipo da Propriedade
      %th
        Valor da Propriedade
    %tbody
      - if @individual.properties.empty?
        %tr
          %td( colspan = 2 )
            Alimentador não possui nenhuma propriedade!
      - else
        - for property in @individual.properties do
          %tr
            %td= property.predicate.local_name
            %td= property.object.resource ? property.resource.local_name : property.string

%p
  %table
    %caption
      Sistemas Prediais
    %thead
      %th
        Nome
      %th
        Demanda Total
    %tbody
      - if @individual.has_children?
        %tr
          %td( colspan = 2 )
            Não há sistemas prediais interligados a este alimentador!
      - else
        - for individual in @individual.children do
          %tr
            %td= individual.name
            %td
              = individual.summation :demand
              VA