- content_for( :subtitle ) do
  = "Detalhes de #{@individual.name}"

%table
  %caption
    Informações Básicas
  %thead
    %th
      Nome do Sistema Predial
    %th
      Classe do Sistema Predial
    %th
      Informações Derivadas
    %th
      Opções

  %tbody
    %tr
      %td= @individual.name
      %td= @individual.ontological_class.local_name
      %td
        Potência Ativa:
        %strong
          = @individual.summation :active_power
          W
        %br/
        Potência Reativa:
        %strong
          = @individual.summation :reactive_power
          VAR
        %br/
        Demanda:
        %strong
          = @individual.summation :positive_demand
          VA
        %br/
        RDP:
        %strong
          = @individual.summation :rdp
          VA
      %td
        = button_get 'Inferências', reasoner_path( @dataset, @individual.name )
        = button_get 'Estatísticas', statistics_path( @dataset, @individual.name )
        = button_get 'Curvas de Carga',charts_path( @dataset, @individual.name )
        = button_get 'Editar', edit_building_system_path( @dataset, @individual.name )
        = button_delete 'Excluir', destroy_building_system_path( @dataset, @individual.name )

%table
  %caption
    Propriedades
  %thead
    %th
      Tipo da Propriedade
    %th
      Valor da Propriedade
  %tbody
    - if @individual.properties.empty?
      %tr
        %td
          Alimentador não possui nenhuma propriedade!
    - else
      - for property in @individual.properties do
        %tr
          %td= property.predicate.local_name
          %td= property.object.resource ? property.resource.local_name : property.string

%table
  %caption
    Recursos
  %thead
    %th
      Nome
    %th
      Informações Derivadas
    %th
      Propriedades
    %th
      Opções
  %tbody
    - if @individual.children.empty?
      %tr
        %td( colspan = 4 )
          #no_resources
            Não há recursos interligados a este sistema predial!

    - else
      - for resource in @individual.children do
        %tr
          %td= resource.name
          %td
            Potência Ativa:
            %strong
              = resource.active_power
              W
            %br/
            Potência Reativa:
            %strong
              = resource.reactive_power
              VAR
            %br/
            Demanda:
            %strong
              = resource.demand
              VA
            %br/
            RDP:
            %strong
              = resource.rdp
              VA
            %br/
            Tempo de Atividade:
            %strong
              = resource.activity_period
          %td
            - for property in resource.properties do
              = property.predicate.local_name + ':'
              = property.object.resource ? property.resource.local_name : property.string
              %br/
          %td
            = button_get 'Curvas de Carga',charts_path( @dataset, resource.name )
            = button_get 'Editar', edit_resource_path( @dataset, resource.name )
            = button_delete 'Excluir', destroy_resource_path( @dataset, resource.name )

    %tr
      %td( colspan = 4 )
        = button_get 'Adicionar Recurso', new_resource_path( @dataset )