= content_for( :subtitle ) do
  = "Detalhes de #{@individual.local_name}"

%table
  %caption
    Informações Básicas
  %thead
    %th
      Nome do Indivíduo
    %th
      Classe do Indivíduo

  %tbody
    %tr
      %td= @individual.local_name
      %td= @individual.get_ont_class.local_name

%p

%table
  %caption
    Propriedades
  %thead
    %th
      Tipo da Propriedade
    %th
      Valor da Propriedade
  %tbody
    - @individual.list_properties.each do | property |
      - next if property.predicate.to_s =~ /type/
      %tr
        %td
          = property.predicate.local_name
        %td= property.object.resource ? property.resource.local_name : property.string

%p
  = button_get 'Editar', edit_individual_path( @dataset, @individual.local_name )
  = button_delete 'Excluir', destroy_individual_path( @dataset, @individual.local_name )