%table
  %thead
    %th
      Nome
    %th
      Arquivo RDF/OWL
    %th
      Contagem de Triplas no TDB
    %th
      Contagem de Triplas no RDF/OWL

  %tbody
    %tr
      %td= @dataset.name
      %td= link_to @dataset.rdf_source, send_rdf_source_path( @dataset.id )
      %td= @dataset.count
      %td= @dataset.count_rdf

= button_get 'Adicionar Indivíduo', create_individual_path( @dataset )
= button_get 'Editar', edit_dataset_path( @dataset )
= button_get 'Voltar', datasets_path
