- content_for( :subtitle ) do
  = "Detalhes de #{@dataset.name}"

%table
  %caption
    Informações Básicas
  %thead
    %th
      Nome do Dataset
    %th
      Arquivo RDF/OWL Original
    %th
      Total de Triplas (TDB / RDF-OWL)
    %th
      Total de Indivíduos (TDB)
    %th
      Opções

  %tbody
    %tr
      %td= @dataset.name
      %td
        %span( title = 'Efetuar download do arquivo RDF/OWL' )
          = link_to @dataset.rdf_source, send_rdf_source_path( @dataset.id )
      %td= "#{@dataset.count} / #{@dataset.count_rdf}"
      %td= @dataset.individuals.to_a.size
      %td
        = button_get 'Editar', edit_dataset_path( @dataset )
        = button_delete 'Excluir', @dataset

%p
  = button_get 'Query', query_path( @dataset )
  = button_get 'Inferências', reasoner_path( @dataset, name: 'self' )
  = button_get 'OntoGraf',ontograf_path( @dataset )

%hr

%table( style = "display: inline-block;" )
  %caption
    Lista de Alimentadores
  %thead
    %th
      Nome
    %th
      Demanda
    %th
      Opções
  %tbody
    - feeders = @dataset.feeders
    - if feeders.empty?
      %tr
        %td( colspan = 3)
          Nenhum alimentador está presente na ontologia!
    - else
      - for feeder in feeders do
        %tr
          %td= feeder.name
          %td
            = feeder.summation :positive_demand
            VA
          %td= button_get 'Detalhes', show_feeder_path( @dataset, feeder.name )
    %tr
      %td( colspan = 3 )
        Demanda Total:
        = feeders.map { |i| i.summation :positive_demand }.inject(:+)
        VA
    %tr
      %td( colspan = 3 )
        = button_get 'Novo Alimentador', new_feeder_path( @dataset )
        = button_get 'Inferências de Classe', reasoner_path( @dataset, 'Alimentador' ) rescue nil

- unless @dataset.feeders.empty?
  %table( style = "display: inline-block;" )
    %caption
      Lista de Sistemas Prediais
    %thead
      %th
        Nome
      %th
        Demanda
      %th
        Opções
    %tbody
      - building_systems = @dataset.building_systems
      - if building_systems.empty?
        %tr
          %td( colspan = 3)
            Nenhum sistema predial está presente na ontologia!
      - else
        - for building_system in building_systems do
          %tr
            %td= building_system.name
            %td
              = building_system.summation :positive_demand
              VA
            %td= button_get 'Detalhes', show_building_system_path( @dataset, building_system.name )
      %tr
        %td( colspan = 3 )
          = button_get 'Novo Sistema Predial', new_building_system_path( @dataset )
          = button_get 'Inferências de Classe', reasoner_path( @dataset, @dataset.find_class( 'Sistema_Predial' ).local_name ) rescue nil