!!! 5
%html
  %head
    %title
      Ontologias de Demanda
    = stylesheet_link_tag 'application', media: :all, 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #head
      #title
        Ontologias de Demanda
        - if content_for?( :subtitle )
          \:
          = yield( :subtitle )
      #logo= image_tag( 'logo.png' )

    - if flash[:notice]
      #notice
        %p= flash[:notice]

    #spinner( hidden = true )
      %p
        = image_tag( 'spinner.gif' )
        %br/
        Carregando...

    #contents
      - if current_user
        %nav
          %ul
            %li= link_to( 'Datasets', datasets_path )
            /%li= link_to( 'OntoGraf', ontograf_path )
            /%li= link_to( 'Reasoner', reasoner_path )
            /%li= link_to( 'Executar Query', query_path )
            %li= link_to( 'Usuários', users_path )
            %li= link_to( 'Sair', logout_path, method: :delete )
      = yield

    #footer
      #copyright
        Sistema de Ontologias de Demanda
        %sub
          v1.5
      #back-button
        = button_get 'Voltar', (@back ? @back : :back)
      #links
        %span( title = 'E-mail de Contato' )
          = link_to image_tag('iconeemail.png'), 'mailto:carlosbarbosa1964@hotmail.com'
        %span( title = 'Código-Fonte no Github' )
          = link_to image_tag('GitHub-Mark-Light-32px.png'), 'https://github.com/CarlosBarbosa1964/demand-ontology'
