!!! 5
%html
  %head
    %title
      Ontologias de Demanda
    = stylesheet_link_tag 'application', media: :all, 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    /= javascript_include_tag "path/to/highcharts.js", "chartkick"
    = csrf_meta_tags

  %body
    #head
      #title
        Ontologias de Demanda
        %sub= yield :subtitle if content_for? :subtitle

      #logo= image_tag 'logo.png'

    #spinner( hidden = true )
      %p
        = image_tag 'spinner.gif'
        %br/
        Carregando...

    #contents
      = render 'layouts/navigation' if current_user

      - if flash[:notice]
        #notice= flash[:notice]

      - if flash[:alert]
        #alert= flash[:alert]

      = yield

    #footer
      #copyright
        Sistema de Ontologias de Demanda
        %sub
          v2.0
      #back-button
        = button_get 'Voltar', ( @back ? @back : :back )
      #links
        %span( title = 'E-mail de Contato' )
          = link_to image_tag('iconeemail.png'), 'mailto:carlosbarbosa1964@hotmail.com'