!!! 5
%html
  %head
    %title
      Ontologias de Demanda
    = stylesheet_link_tag 'application', media: :all, 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #head
      #title
        Ontologias de Demanda
        - if content_for?( :subtitle )
          \:
          = yield( :subtitle )
      #logo= image_tag( 'logo.png' )

    #spinner( hidden = true )
      %p
        = image_tag( 'spinner.gif' )
        %br/
        Carregando...

    #contents
      = render 'layouts/navigation' if current_user

      - if flash[:notice]
        #notice= flash[:notice]

      - if flash[:alert]
        #alert= flash[:alert]

      = yield

    #footer
      #copyright
        Sistema de Ontologias de Demanda
        %sub
          v1.8
      #back-button
        = button_get 'Voltar', (@back ? @back : :back)
      #links
        %span( title = 'E-mail de Contato' )
          = link_to image_tag('iconeemail.png'), 'mailto:carlosbarbosa1964@hotmail.com'
        %span( title = 'Código-Fonte no Github' )
          = link_to image_tag('GitHub-Mark-Light-32px.png'), 'https://github.com/CarlosBarbosa1964/demand-ontology'
