!!! 5

%html
  %head
    %title
      Ontologias de Demanda
    = stylesheet_link_tag 'application', media: :all, 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #head
      #title
        Ontologias de Demanda
        - if content_for?( :subtitle )
          \:
          = yield( :subtitle )
      #logo= image_tag( 'logo.png' )

    - if flash[:notice]
      #notice
        %p= flash[:notice]

    #contents
      - if current_user
        %nav
          %ul
            %li= link_to( 'Meus Datasets', datasets_path )
            %li= link_to( 'Usuários', users_path )
            %li= link_to( 'Executar Query', query_path )
            %li= link_to( 'Sair', logout_path, method: :delete )
      = yield

    #footer
      #copyright
        Sistema de Ontologias de Demanda Versão 1.0 &copy; 2015.
